/* Pagina Contacto */

    .header {
        @include oscTitulo;
        padding: 0.2em;
    }
    .colorBoton:hover {
            color: #020202;
            background:turquoise;
            }

    /* COSTADO CON IMAGENES */
    .aside {
        margin-top: 5em;
        }

    .carousel-caption {
        position: absolute;
        right: 15%;
        height: 5em;
        top: 4em;
        left: 15%;
        z-index: 1;
        padding-top: 1em;
        padding-bottom: 20px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        }




