
// Texto e imagen de portada
    .portada{
        background: url(../css/img/5435089577_08a780296e_k.jpg);
        @include bg-images;
        height: 40em;
        max-width: 100%;
        margin-top: 1em;
        .portadaParrafo{
            width: 100%;
            height: 8em;
            background-color: transparentize($color: #ffffff, $amount:0.6);
            @include oscTitulo;
            position: absolute;
            z-index: 1;
            top:34em ;
        }
        @media (max-width:780px) {
            .portadaParrafo{
                width: 100%;
                height: 10em;
                background-color: transparentize($color: #ffffff, $amount:0.6);
                position: absolute;
                z-index: 1;
                top:31em ;
            }
        }
    }

    // lista de productos redireccion a dicha pagina
    .mapaProducto{
        text-align: center;
        margin-top: 1em;
        margin-bottom: 2em;
            & a {
                position: relative;
                display: block;
                padding: 0.5em;
                font-family: $fuente-texto;
                font-size: $tam-xltitulo;
                color: $texto-oscazul;
                font-weight: 600;
                }
                :before {
                content: '';
                text-decoration: none;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 5px;
                background: linear-gradient(to right, #d2e5f1, #9ad0f0, #5aaefd);
                z-index: 1;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.5s ease-in-out;
                }
                    & a:hover::before {
                    transform: scaleX(1);
                    }
        }

// texto e imagenes
    .div-imagen {
        display:inline-block;
        position:relative;
        margin: 1em;
        }
            .div-imagen>div {
            position:absolute;
            z-index:-1;
            top:0;
            left:0;
            z-index:-1;
            padding:10px;
            margin:0;
            }
        .text{
            @include OscSubtitulo;
            padding-top: 20%;
            height: 20em;
            width: 100%;
            }
        .desvanecer{
            height: 15em;
            width: 100%;
            }
            .desvanecer:hover {
                opacity: 0.07;
                -webkit-transition: opacity 500ms;
                -moz-transition: opacity 500ms;
                -o-transition: opacity 500ms;
                -ms-transition: opacity 500ms;
                transition: opacity 500ms;
                }

                // texto cotiza con nosotros
                .btn-primary, .btn--primary:hover,
                .btn-primary:active {
                    @include oscTitulo;
                    padding: 1em;
                    margin: 1em;
                    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
                    background-color: #2fcde2;
                    }



hr{
    border: 0;
    height: 1em;
    margin-top: 1em;
    box-shadow: inset 0 1em 1.5em -1.5em rgb(0, 0, 0);
    }



