     // descripcion de cada producto collapse
    .margenArriba{
        margin-top: 7em;
    }
    .panel-heading {
            padding: 0;
            border-left: 3px solid #5d67f0;
            border-radius: initial;
            border: none;
            color: #fff;
            padding: 0;
            h4 {
                background-color: #f1cfc2;
                }
    }
        .panel-heading .panel-title a {
            padding: 0.7em;
            color: $texto-oscazul;
        }
        .panel-heading .panel-title .collapsed {
            @include backgroundColor;
            color: $texto-oscazul;
        }
            .panel-title a {
                @include OscSubtitulo;
                text-align: center;
                display: block;
                position: relative;
                font-weight: 600;
                    a:hover{
                    text-decoration: none;
                    }
            }

    // detalle de estilo dentro de cada descripcion
        .textoDescripcion{
            @include OscPeque;
            p{
                padding: 2em 3em;
            }
        }
        .listProduct{
                @include OscPeque;
                align-items: center;
                padding: 1em;
                li{
                list-style-image: url(../css/img/select.png) ;
                }
        }
        .imagenDescripcion{
            height: 16em;
            max-width: 100%;
        }


    // carousel de imagenes dentro de las descripciones
    .carousel-item{
        text-align: center;
        min-height: 24em;
        // texto dentro del carousel de contacto
        h5{
            @include oscTitulo;
            top:-5em;
        }
        img{
            padding-top: 3em;
        }
    }

    // imagenes de los carouseles
    @each $slide in 1, 2, 3 {
        .slide#{$slide} {
            @include bg-images;
            background-image:url('../css/img/aluminio#{$slide}.jpg');
        }
        }
    @each $pvc in 1, 2, 3 {
        .pvc#{$pvc} {
        @include bg-images;
        background-image:url('../css/img/pvc#{$pvc}.jpg');
        }
        }
    @each $puerta in 1, 2, 3 {
        .puerta#{$puerta} {
        @include bg-images;
        background-image:url('../css/img/puerta#{$puerta}.jpg');
        }
        }
    @each $shower in 1, 2, 3 {
        .shower#{$shower} {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        background-image:url('../css/img/showerdoor#{$shower}.jpg');
        }
        }
    @each $barandal in 1, 2, 3 {
        .barandal#{$barandal} {
        @include bg-images;
        background-image:url('../css/img/baranda#{$barandal}.jpg');
        }
    }
    .estruc1{
        background: url(../css/img/estructura1.jpg);
        @include bg-images;
    }
    .estruc2{
        background: url(../css/img/estructura2.jpg);
        @include bg-images;
    }

        //linea Consulta con nosotros
        .categoriaProductos {
            @include backgroundColor;
            @include oscTitulo;
            background-size: contain;
            color: $texto-oscazul;
            animation:bounceInLeft;
            animation-duration: 2s;
            animation-iteration-count: 1;
            padding: 2em 1.5em;
        }





