// Pagina Quienes somos
//texto nuestra empresa y logo
.empresa{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 8em 0 1em 2em;
    &__nuestra{
        width: calc(60% - 1rem);
        @media (max-width: 800px) { width: calc(100% - 1rem); }
        }
    &__nuestra--titulo{
        @include oscTitulo;
        text-transform:uppercase;
        text-decoration: underline rgb(80, 250, 250);
        }
    &__nuestra--texto{
        @include OscSubtitulo;
        text-align: justify;
        line-height: 2em;
	    font-weight: 600;
        }
    &__logo{
        width: calc(30% - 1rem);
        padding:2em 0 0 3em ;
        @media (max-width: 800px) {
            width: calc(100% - 1rem);
            padding: 1em;
        }
        &--Quien{
        width: 16em;
        height: 8em;
        }
    }
}




// texto porque decidirte por roaglas
.porque>h2{
    @include oscTitulo;
    background-color: $mynewcolor;
    width: 100%;
    text-align:center;
    padding: 2em 1em;
    text-transform: uppercase;
    }



    // imagen con texto debajo
.contenedorImg {
    width: 20em;
    height: 25em;
    overflow: hidden;
    position: relative;
    text-align: center;
    float: center;
    cursor: default;

    }
        .contenedorImg .mascara {
        width: 20em;
        height: 20em;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0
        }
            .contenedorImg img {
            display: block;
            position: relative;
            max-width: 100%;
            height: 20em;
            }
            .contenedorImg h3 {
            @include oscTitulo;
            text-transform: uppercase;
            text-align: center;
            position: relative;
            margin: 1em 0 0 0
            }
            .contenedorImg p {
            @include OscPeque;
            position: relative;
            padding: 2em 1.5em;
            text-align: center
            }
    //  contenedor de la imagen
    .efectoImg img {
        transform: scaleY(1);
        transition: all 0.7s ease-in-out;
        }
        .efectoImg .mascara {
        @include backgroundColor;
        transition: all 0.5s linear;
        opacity: 0;
        }
            .efectoImg:hover img {
            transform: scale(10);
            opacity: 0;
            }
            .efectoImg:hover .mascara {
            opacity: 1;
            }
            .efectoImg:hover h3,
            .efectoImg:hover p,
            .efectoImg:hover a.link{
            transform: scale(1);
            opacity: 1;
            }