
$fuente-grande:'Cormorant Garamond', serif;
$fuente-mediana: 'IM Fell Double Pica', serif;;
$fuente-peque:'Roboto Slab', serif;
$tam-xltitulo: 2rem;
$tam-titulo: 1.4rem;
$tam-subtitulo: 1.2rem;
$tam-parrafo: 1.0rem;

$transition-duration: 0.3s;
$transition-delay: 0.2s;

$texto-azul:rgb(2, 15, 26)5;
$texto-oscazul:rgb(2, 15, 26);
$texto-azulclaro:rgb(200, 214, 236);

$color-nav: rgb(255, 255, 255);
$color-footer:rgb(2, 15, 26);
$color-seccion:#f1ad92;

$media-queries:
(tablet: (breakpoint: '(min-width: 480px) and (max-width: 768px)',),
 mobile: (breakpoint: '(max-width: 480px)'));


