$fuente-grande:'Cormorant Garamond', serif;
$fuente-mediana:'Armata', sans-serif;
$fuente-peque:'Quattrocento Sans', sans-serif;
$tam-xltitulo: 2rem;
$tam-titulo: 1.4rem;
$tam-subtitulo: 1.2rem;
$tam-parrafo: 1.0rem;

$transition-duration: 0.3s;
$transition-delay: 0.2s;

$texto-azul:#4d10af;
$texto-oscazul:rgb(13, 6, 53);
$texto-azulclaro:rgb(219, 244, 245);

$color-nav: rgb(143, 235, 240);
$color-footer:rgb(12, 12, 51);
$color-seccion:#f1ad92;

$media-queries:
(tablet: (breakpoint: '(min-width: 480px) and (max-width: 768px)',),
 mobile: (breakpoint: '(max-width: 480px)'));


