@import"variable";


* {box-sizing:border-box;
    }
body {
    background-color: #d9dee0;
}
    .no-gutters {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

/*NAVBAR*/
.navbar {
    background-color: $color-nav;
        }
.nav-link {
    font-family: $fuente-grande;
    font-size: $tam-subtitulo;
    color: rgb(18, 18, 82) !important;
    padding-right: 2rem !important;
    padding-left: 2rem !important;
    border-radius: 2rem;
    }
	.nav-item :hover {
		box-shadow: inset 0 0 20px rgba(243, 9, 9, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
		outline-offset: 80px;
		text-shadow: 1px 1px 6px #fff;
		}
.logo {
    width: 220px;
    }
.LinkContact, .LinkQuien, .LinkGal, .LinkProduc, .LinkIndex {
    color: rgb(241, 72, 21)!important;
    font-weight: 600;
    }
/*PIE de PAGINA*/
.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start center;
    align-content: center;
    background-color: $color-footer;
    color:  $texto-azulclaro;
    font-family:$fuente-grande;

    &__contacto{
        width: calc(25% - 1rem);
        text-align: center;
        margin-top: 1em;
            &--icon{
                width: 25px;
                margin-left: 1em;
                }
    @media (max-width: 850px) {
        width: calc(100% - 1rem);
        padding: 1em;
        }
    }
    &__direccion{
        width: calc(25% - 1rem);
        text-align: center;
        margin-top: 1em;
    @media (max-width: 850px) {
        width: calc(50% - 1rem);
        padding: 1em;
    }
    }
&__atencion{
    text-align: center;
    margin-top: 1em;
    width: calc(25% - 1rem);
    @media (max-width: 850px) {
        width: calc(50% - 1rem);
        padding: 1em;
}
}
&__maps{
    text-align: center;
    margin-top: 1em;
    width: calc(25% - 1rem);
}
        & a {
        position: relative;
        display: block;
        padding: 2px;
        }
        & a::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
            z-index: 1;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.5s ease-in-out;
            }
                & a:hover::before {
                 transform: scaleX(1);
                 }
                 &[data-animation="bonus"] a:hover::before {
                    transform-origin: left;
                    transform: scaleX(1);
                    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
                  }
    
    @media (max-width: 850px) {
            .ocultar-div{
            display:none;
            }
            
}
}


  /* pagina de inicio */
        /*CAROUSEL*/
        .carousel-item {
            height: 32VH;
            margin-top: 6em;

            @media (min-width: 600px) and (max-width: 991px) {
                height: 36vh;
                margin-top: 5em;
                }
            @media (min-width: 992px)  {
                height: 40vh;
                margin-top: 5em;
                }
            @media (min-width: 1208px) {
                height:48vh;
                margin-top: 5em;
                }
            }
        /* imagenes del carousel */
        .slide1 {
            background: url(../css/img/people-calidez.jpg) center center;
            background-size:contain;
            background-repeat: no-repeat;
        }
        .slide2 {
            @extend .slide1;
            background-image: url(../css/img/cosmetology-bath.jpg);
        }
        .slide3 {
            @extend .slide1;
            background-image: url(../css/img/seguridad.jpg);
        }
        .slide4 {
            @extend .slide1;
            background-image: url(../css/img/people-sonido.jpg);
        }

    .entertext {
	    width: auto;
	    margin-left: 1%;
	    margin-right: 1%;
		    h2{
		    margin-left: 15%;
	    	line-height: 2em;
		    font-family: $fuente-mediana;
    		font-size: $tam-titulo;
	    	font-weight: 300;
		    color: rgb(36, 10, 70);
            display: inline-block;
            margin: 0 0.5rem;
            animation: fadeInBottomRight;
            animation-duration: 2s;
            animation-iteration-count: 3;
		    }
		    p{
    		font-family: $fuente-peque;
		    margin: 0 1.2em;
    		margin-top: 1em;
	    	font-size: $tam-subtitulo;
		    font-weight: 200;
            }
    }
    .Primer {
        padding: 0.5em;
        text-align: center;
            &__imagen{
                margin-left: 2em;
                width: 10em;
                border-radius:25%;
                -webkit-border-radius:25%;
                box-shadow: 0px 0px 3px 3px #161230;
                }
            &__texto--titulo {
                color: $texto-azul;
                font-family: $fuente-grande;
                font-weight:bold;
                font-size: $tam-xltitulo;
                line-height: 2em;
                animation:heartBeat;
                animation-duration: 3s;
                animation-iteration-count: 10;
			}
            &__texto--subtitulo {
                margin-top: 1em;
                color: #340186;
                font-family: $fuente-mediana;
                // font-weight:bold;
                font-size: $tam-titulo;
                line-height: 2em;
                }
    }

     // pagina productos
//linea Consulta con nosotros
	.categoriaProductos {
		margin-top: 8em;
		color: $texto-azul;
		font-family: $fuente-grande;
	        h2{
		    padding-bottom:0.5em;
        	}
    }
	.proximoProducto{
		background-color:$color-seccion;
		background-size: contain;
		}
        // linea cual es tu proximo proyecto
	.cualEs {
		font-size: 2em;
        margin-top: 1rem;
	}
	.listaProductos {
		font-size: 1.4rem;
        color: $texto-oscazul;
        p a:link{
            text-decoration: none;
        }
	}
// lista de productos
.detalle {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: -0.5rem;
    // linea de separacion
    .separador{
        border-top: blue 1px solid;
        height: 2em;
        width: 100%;
        background: linear-gradient(to bottom, rgb(146, 195, 235), rgb(198, 207, 209));
        }
    &__block {
        margin: 0.5rem;
        width: calc(50% - 1rem);
        @media (max-width: 800px) { width: calc(100% - 1rem); }
    }
    &__block--grande { margin: 0.5rem;
        width:100%;
        @media (max-width:880px) {
            width: calc(100%-1rem);  }
    }
}
// caracteristicas de la lista de productos
.texto {
    padding:0 5em;

    &__title {
        font-size: $tam-titulo;
        line-height: 3em;
		margin:0 2em;
		font-family: $fuente-grande;
		font-weight: 600;
		color: $texto-oscazul;
        @media (max-width: 800px) { font-size: 1.25rem; }
    }
    &__text {
        font-size: $tam-parrafo;
        padding-bottom: 2em;
        text-align: justify;
		font-family: $fuente-peque;
		font-weight: 400;
		color: $texto-oscazul;
    }
    &__imagen{
    padding: 00.5em;
    }
    &__imagen--tamaño{
        width: 22rem;
        height: 22rem;
    }
    &__lista {
        align-items: center;
        padding: 1em;
    }
    &__lista--lista {
        list-style-image: url(../css/img/stained-glass-window.png);
        color:$texto-oscazul;
}
}

// Pagina Galeria
.ListImag {
	margin: 5em 1em 2em 3em;
	}
        .imgTamaño{
	    width: 15em;
		height: 15em;
		padding: 1em;
        }

// Pagina Quienes somos
//texto nuestra empresa y logo
.empresa{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 8em 0 1em 2em;
    &__nuestra{
        width: calc(70% - 1rem);
        @media (max-width: 800px) { width: calc(100% - 1rem); }
        }
    &__nuestra--titulo{
        font-family: $fuente-grande;
        color: $texto-oscazul;
        text-transform:uppercase;
        text-decoration: underline rgb(80, 250, 250);
        }
    &__nuestra--texto{
        text-align: justify;
        color: $texto-oscazul;
	    line-height: 2em;
	    font-family: $fuente-mediana;
	    font-weight: 600;
        }
    &__logo{
        width: calc(30% - 1rem);
        padding:5em 0 0 3em ;
        @media (max-width: 800px) {
            width: calc(100% - 1rem);
            padding: 1em;
    }
    }
}
// texto porque decidirte por roaglas
.porque>h2{
    // background-color: $color-seccion;
    width: 100%;
    text-align:center;
    padding: 2em 1em;
    color: $texto-azul;
    font-size: 23pt;
    text-transform: uppercase;
    font-family:$fuente-grande;
    }
// texto e imagenes
.div-imagen {
    display:inline-block;
    position:relative;
    margin: 3em;
    
  }
  
  .div-imagen > div {
    position:absolute;
    z-index:-1;
   
  }
  .desvanecer{
    width: 100%;
  }
  .desvanecer:hover {
    opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
  }

/* Pagina Contacto */
.marginTop {
    padding-top: 6rem;
    margin-left: auto;
}
.header {
    color: $texto-azul;
    font-size: $tam-titulo;
    padding: 10px;
}
    .colorBoton:hover {
            color: #020202;
            background:turquoise;
            }

    /* COSTADO CON IMAGENES */
    .aside {
        margin-top: 7em;
        justify-content: center;
        align-content: center;
        flex-flow: column wrap ;
        }
        .aside> p{
            font-size: $tam-subtitulo;
            text-align: center;
            letter-spacing: 2px;
            font-style: italic;
            color: $texto-oscazul;
            }
        .aside> img{
            width: 20em;
            }

    hr{
    border: 0;
    height: 2em;
    margin-top: 1em;
    box-shadow: inset 0 1em 2em -1.5em rgb(44, 22, 236);
    }

    @mixin media-query ($size) {
	@each $item, $value in $media-queries {
	@if $item == $size {
    @if map-get($value, breakpoint) != null {
	@media only screen and #{map-get($value, breakpoint)} {
	@content;
	}
	}
	}
	}
	}
    .pruebaif {
		background: #d8a972;
		@include media-query(mobile) {
			background: #e7e367;
		}
		@include media-query(tablet) {
			background: #bae6e9;
		}
	}


