.portada {
  background: url(../css/img/5435089577_08a780296e_k.jpg);
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40em;
  max-width: 100%;
  margin-top: 1em; }
  .portada .portadaParrafo {
    width: 100%;
    height: 8em;
    background-color: rgba(255, 255, 255, 0.4);
    color: #020f1a;
    font-family: "Orbitron", sans-serif;
    position: absolute;
    z-index: 1;
    top: 34em; }
  @media (max-width: 780px) {
    .portada .portadaParrafo {
      width: 100%;
      height: 10em;
      background-color: rgba(255, 255, 255, 0.4);
      position: absolute;
      z-index: 1;
      top: 31em; } }

.mapaProducto {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em; }
  .mapaProducto a {
    position: relative;
    display: block;
    padding: 0.5em;
    font-family: "Kodchasan", sans-serif;
    font-size: 1.7rem;
    color: #020f1a;
    font-weight: 600; }
  .mapaProducto :before {
    content: '';
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #d2e5f1, #9ad0f0, #5aaefd);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out; }
  .mapaProducto a:hover::before {
    transform: scaleX(1); }

.div-imagen {
  display: inline-block;
  position: relative;
  margin: 1em; }

.div-imagen > div {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 10px;
  margin: 0; }

.text {
  font-size: 1.2rem;
  color: #020f1a;
  font-family: "Kodchasan", sans-serif;
  padding-top: 20%;
  height: 20em;
  width: 100%; }

.desvanecer {
  height: 15em;
  width: 100%; }

.desvanecer:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms; }

.btn-primary, .btn--primary:hover,
.btn-primary:active {
  color: #020f1a;
  font-family: "Orbitron", sans-serif;
  padding: 1em;
  margin: 1em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2fcde2; }

hr {
  border: 0;
  height: 1em;
  margin-top: 1em;
  box-shadow: inset 0 1em 1.5em -1.5em black; }

.margenArriba {
  margin-top: 7em; }

.panel-heading {
  padding: 0;
  border-left: 3px solid #5d67f0;
  border-radius: initial;
  border: none;
  color: #fff;
  padding: 0; }
  .panel-heading h4 {
    background-color: #f1cfc2; }

.panel-heading .panel-title a {
  padding: 0.7em;
  color: #020f1a; }

.panel-heading .panel-title .collapsed {
  background: #63b0e4;
  background: -moz-linear-gradient(167deg, #63b0e4 0%, #80bee4 12%, #c3e3e2 24%, #dcf4f3 45%, #c3e3e2 69%, #80bee4 85%, #63b0e4 95%);
  background: -webkit-linear-gradient(167deg, #63b0e4 0%, #80bee4 12%, #c3e3e2 24%, #dcf4f3 45%, #c3e3e2 69%, #80bee4 85%, #63b0e4 95%);
  background: linear-gradient(167deg, #63b0e4 0%, #80bee4 12%, #c3e3e2 24%, #dcf4f3 45%, #c3e3e2 69%, #80bee4 85%, #63b0e4 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#63b0e4",endColorstr="#63b0e4",GradientType=1);
  color: #020f1a; }

.panel-title a {
  font-size: 1.2rem;
  color: #020f1a;
  font-family: "Kodchasan", sans-serif;
  text-align: center;
  display: block;
  position: relative;
  font-weight: 600; }
  .panel-title a a:hover {
    text-decoration: none; }

.textoDescripcion {
  font-family: "Kodchasan", sans-serif;
  color: #020f1a;
  font-size: 0.9rem;
  font-weight: 600; }
  .textoDescripcion p {
    padding: 2em 3em; }

.listProduct {
  font-family: "Kodchasan", sans-serif;
  color: #020f1a;
  font-size: 0.9rem;
  font-weight: 600;
  align-items: center;
  padding: 1em; }
  .listProduct li {
    list-style-image: url(../css/img/select.png); }

.imagenDescripcion {
  height: 16em;
  max-width: 100%; }

.carousel-item {
  text-align: center;
  min-height: 24em; }
  .carousel-item h5 {
    color: #020f1a;
    font-family: "Orbitron", sans-serif;
    top: -5em; }
  .carousel-item img {
    padding-top: 3em; }

.slide1 {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../css/img/aluminio1.jpg"); }

.slide2 {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../css/img/aluminio2.jpg"); }

.slide3 {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../css/img/aluminio3.jpg"); }

.pvc1 {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../css/img/pvc1.jpg"); }

.pvc2 {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../css/img/pvc2.jpg"); }

.pvc3 {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../css/img/pvc3.jpg"); }

.puerta1 {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../css/img/puerta1.jpg"); }

.puerta2 {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../css/img/puerta2.jpg"); }

.puerta3 {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../css/img/puerta3.jpg"); }

.shower1 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  background-image: url("../css/img/showerdoor1.jpg"); }

.shower2 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  background-image: url("../css/img/showerdoor2.jpg"); }

.shower3 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  background-image: url("../css/img/showerdoor3.jpg"); }

.barandal1 {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../css/img/baranda1.jpg"); }

.barandal2 {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../css/img/baranda2.jpg"); }

.barandal3 {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../css/img/baranda3.jpg"); }

.estruc1 {
  background: url(../css/img/estructura1.jpg);
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.estruc2 {
  background: url(../css/img/estructura2.jpg);
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.categoriaProductos {
  background: #63b0e4;
  background: -moz-linear-gradient(167deg, #63b0e4 0%, #80bee4 12%, #c3e3e2 24%, #dcf4f3 45%, #c3e3e2 69%, #80bee4 85%, #63b0e4 95%);
  background: -webkit-linear-gradient(167deg, #63b0e4 0%, #80bee4 12%, #c3e3e2 24%, #dcf4f3 45%, #c3e3e2 69%, #80bee4 85%, #63b0e4 95%);
  background: linear-gradient(167deg, #63b0e4 0%, #80bee4 12%, #c3e3e2 24%, #dcf4f3 45%, #c3e3e2 69%, #80bee4 85%, #63b0e4 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#63b0e4",endColorstr="#63b0e4",GradientType=1);
  color: #020f1a;
  font-family: "Orbitron", sans-serif;
  background-size: contain;
  color: #020f1a;
  animation: bounceInLeft;
  animation-duration: 2s;
  animation-iteration-count: 1;
  padding: 2em 1.5em; }

.tituloGallery {
  color: #020f1a;
  font-family: "Orbitron", sans-serif;
  top: 5em; }

.tituloParrafo {
  color: #020f1a;
  font-family: "Orbitron", sans-serif;
  top: -2em; }

.gallery, .gallery1, .gallery2, .gallery3, .gallery4, .gallery5, .gallery6 {
  display: flex;
  width: 100%;
  margin-top: 4em;
  height: 18em;
  padding: 4% 2%;
  box-sizing: border-box; }
  @media (min-width: 800px) {
    .gallery, .gallery1, .gallery2, .gallery3, .gallery4, .gallery5, .gallery6 {
      height: 30em; } }
  .gallery .box, .gallery1 .box, .gallery2 .box, .gallery3 .box, .gallery4 .box, .gallery5 .box, .gallery6 .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    line-height: 0; }
  .gallery .box > img, .gallery1 .box > img, .gallery2 .box > img, .gallery3 .box > img, .gallery4 .box > img, .gallery5 .box > img, .gallery6 .box > img {
    width: 200%;
    height: calc(100% - 5vh);
    object-fit: cover;
    transition: .5s; }
  .gallery .box:hover, .gallery1 .box:hover, .gallery2 .box:hover, .gallery3 .box:hover, .gallery4 .box:hover, .gallery5 .box:hover, .gallery6 .box:hover {
    flex: 1 50%; }
  .gallery .box:hover > img, .gallery1 .box:hover > img, .gallery2 .box:hover > img, .gallery3 .box:hover > img, .gallery4 .box:hover > img, .gallery5 .box:hover > img, .gallery6 .box:hover > img {
    object-fit: contain;
    max-width: 100%;
    height: 100%; }

.empresa {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 8em 0 1em 2em; }
  .empresa__nuestra {
    width: calc(60% - 1rem); }
    @media (max-width: 800px) {
      .empresa__nuestra {
        width: calc(100% - 1rem); } }
  .empresa__nuestra--titulo {
    color: #020f1a;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    text-decoration: underline #50fafa; }
  .empresa__nuestra--texto {
    font-size: 1.2rem;
    color: #020f1a;
    font-family: "Kodchasan", sans-serif;
    text-align: justify;
    line-height: 2em;
    font-weight: 600; }
  .empresa__logo {
    width: calc(30% - 1rem);
    padding: 2em 0 0 3em; }
    @media (max-width: 800px) {
      .empresa__logo {
        width: calc(100% - 1rem);
        padding: 1em; } }
    .empresa__logo--Quien {
      width: 16em;
      height: 8em; }

.porque > h2 {
  color: #020f1a;
  font-family: "Orbitron", sans-serif;
  background-color: #76d8d8;
  width: 100%;
  text-align: center;
  padding: 2em 1em;
  text-transform: uppercase; }

.contenedorImg {
  width: 20em;
  height: 25em;
  overflow: hidden;
  position: relative;
  text-align: center;
  float: center;
  cursor: default; }

.contenedorImg .mascara {
  width: 20em;
  height: 20em;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.contenedorImg img {
  display: block;
  position: relative;
  max-width: 100%;
  height: 20em; }

.contenedorImg h3 {
  color: #020f1a;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin: 1em 0 0 0; }

.contenedorImg p {
  font-family: "Kodchasan", sans-serif;
  color: #020f1a;
  font-size: 0.9rem;
  font-weight: 600;
  position: relative;
  padding: 2em 1.5em;
  text-align: center; }

.efectoImg img {
  transform: scaleY(1);
  transition: all 0.7s ease-in-out; }

.efectoImg .mascara {
  background: #63b0e4;
  background: -moz-linear-gradient(167deg, #63b0e4 0%, #80bee4 12%, #c3e3e2 24%, #dcf4f3 45%, #c3e3e2 69%, #80bee4 85%, #63b0e4 95%);
  background: -webkit-linear-gradient(167deg, #63b0e4 0%, #80bee4 12%, #c3e3e2 24%, #dcf4f3 45%, #c3e3e2 69%, #80bee4 85%, #63b0e4 95%);
  background: linear-gradient(167deg, #63b0e4 0%, #80bee4 12%, #c3e3e2 24%, #dcf4f3 45%, #c3e3e2 69%, #80bee4 85%, #63b0e4 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#63b0e4",endColorstr="#63b0e4",GradientType=1);
  transition: all 0.5s linear;
  opacity: 0; }

.efectoImg:hover img {
  transform: scale(10);
  opacity: 0; }

.efectoImg:hover .mascara {
  opacity: 1; }

.efectoImg:hover h3,
.efectoImg:hover p,
.efectoImg:hover a.link {
  transform: scale(1);
  opacity: 1; }

/* Pagina Contacto */
.header {
  color: #020f1a;
  font-family: "Orbitron", sans-serif;
  padding: 0.2em; }

.colorBoton:hover {
  color: #020202;
  background: turquoise; }

/* COSTADO CON IMAGENES */
.aside {
  margin-top: 5em; }

.carousel-caption {
  position: absolute;
  right: 15%;
  height: 5em;
  top: 4em;
  left: 15%;
  z-index: 1;
  padding-top: 1em;
  padding-bottom: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); }

* {
  box-sizing: border-box; }

body {
  background-color: #ffffff; }

.no-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important; }

/*NAVBAR*/
.navbar {
  background-color: white; }

.navbar-light .navbar-nav .nav-link {
  color: #020f1a; }

.nav-link {
  font-family: "Orbitron", sans-serif;
  font-size: 1.2rem;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  border-radius: 2rem;
  font-weight: 600; }

.nav-item :hover {
  box-shadow: inset 0 0 20px rgba(150, 229, 235, 0.5), 0 0 20px rgba(9, 184, 238, 0.4);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #e8f3f5; }

.logo {
  width: 220px;
  padding-left: 1em; }

.LinkContact, .LinkQuien, .LinkGal, .LinkProduc, .LinkIndex {
  color: #6aa3f8 !important;
  font-weight: 600; }

/*PIE de PAGINA*/
footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  background-color: #03121f;
  color: #c8d6ec;
  font-family: "Orbitron", sans-serif; }

.footerContacto {
  text-align: center;
  margin-top: 1em; }

.footerIcon {
  margin-top: 1em;
  width: 4em;
  margin-left: 1em; }

.footerIcon:hover {
  animation: flip;
  animation-duration: 1s;
  animation-delay: inherit; }

.fono-contenido, .email-contenido {
  background-color: #03121f;
  color: #c8d6ec;
  width: 300px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative; }

.fono, .email {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 1s; }

#telefono:target {
  opacity: 1;
  pointer-events: auto; }

.email-contenido {
  width: 28em; }

#correo:target {
  opacity: 1;
  pointer-events: auto; }
