@charset "UTF-8";
/*NAVBAR*/
.navbar {
  background-color: white; }

.nav-link {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
  color: #020f1a;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  border-radius: 2rem;
  font-weight: 600; }

.nav-item :hover {
  box-shadow: inset 0 0 20px rgba(150, 229, 235, 0.5), 0 0 20px rgba(9, 184, 238, 0.4);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #e8f3f5; }

.logo {
  width: 220px; }

.LinkContact, .LinkQuien, .LinkGal, .LinkProduc, .LinkIndex {
  color: #4980d3 !important;
  font-weight: 600; }

/*PIE de PAGINA*/
.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start center;
  align-content: center;
  background-color: #03121f;
  color: #c8d6ec;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700; }
  .footer__contacto {
    width: calc(100% - 1rem);
    text-align: center;
    margin-top: 1em; }
    .footer__contacto--icon {
      width: 25px;
      margin-left: 1em; }
    @media (min-width: 850px) {
      .footer__contacto {
        width: calc(25% - 1rem);
        padding: 1em; } }
  .footer__direccion {
    width: calc(100% - 1rem);
    text-align: center;
    margin-top: 1em; }
    @media (min-width: 850px) {
      .footer__direccion {
        width: calc(25% - 1rem);
        padding: 1em; } }
  .footer__atencion {
    text-align: center;
    margin-top: 1em;
    width: calc(100% - 1rem); }
    @media (min-width: 850px) {
      .footer__atencion {
        width: calc(25% - 1rem);
        padding: 1em; } }
  .footer__maps {
    text-align: center;
    margin-top: 1em;
    width: calc(25% - 1rem); }
  .footer a {
    position: relative;
    display: block;
    padding: 2px; }
  .footer a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out; }
  .footer a:hover::before {
    transform: scaleX(1); }
  .footer[data-animation="bonus"] a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94); }
  @media (max-width: 850px) {
    .footer .ocultar-div {
      display: none; } }

.portada {
  background: url(../css/img/5435089577_08a780296e_k.jpg) no-repeat center center;
  background-size: 100% 100%;
  height: 40em;
  max-width: 100%;
  margin-top: 1.5em; }

.portadaParrafo {
  width: 100%;
  height: 8em;
  background-color: rgba(255, 255, 255, 0.4);
  color: #020f1a;
  font-family: "Cinzel Decorative", cursive;
  position: absolute;
  z-index: 1;
  top: 34em; }

@media (max-width: 780px) {
  .portada {
    background: url(../css/img/florero.webp) no-repeat center center;
    background-size: 100% 100%;
    height: 30em;
    max-width: 100%;
    margin-top: 5em; }
    .portada .portadaParrafo {
      width: 40%;
      height: 18em;
      background-color: rgba(255, 255, 255, 0.4);
      color: #020f1a;
      font-family: 'Cinzel Decorative', cursive;
      position: absolute;
      z-index: 1;
      top: 20em; } }

@media (max-width: 500px) {
  .portada {
    background: url(../css/img/florero.webp) no-repeat center center;
    background-size: 100% 100%;
    height: 25em;
    max-width: 100%;
    margin-top: 5em; }
    .portada .portadaParrafo {
      width: 50%;
      height: 15em;
      top: 15em;
      background-color: rgba(255, 255, 255, 0.5); } }

.entertext {
  width: auto;
  margin-left: 1%;
  margin-right: 1%; }
  .entertext h2 {
    margin-left: 15%;
    line-height: 2em;
    font-family: "IM Fell Double Pica", serif;
    font-size: 1.4rem;
    font-weight: 500;
    color: #020f1a;
    display: inline-block;
    margin: 0 0.5rem;
    animation: fadeInBottomRight;
    animation-duration: 2s;
    animation-iteration-count: 1; }
  .entertext p {
    font-family: "Roboto Slab", serif;
    margin: 0 1.2em;
    margin-top: 1em;
    font-size: 1.2rem;
    font-weight: 200; }

.Primer {
  text-align: center;
  display: flex;
  flex-direction: column; }
  @media (min-width: 850px) {
    .Primer {
      width: calc(100% - 1rem);
      flex-direction: row;
      padding: 1em; } }
  .Primer__imagen {
    width: calc(100% - 1rem); }
    .Primer__imagen--imagen {
      width: 10em;
      border-radius: 25%;
      -webkit-border-radius: 25%;
      box-shadow: 0px 0px 3px 3px #000000; }
  .Primer__texto {
    width: calc(100% - 1rem);
    text-align: center; }
    .Primer__texto--titulo {
      color: #020f1a;
      font-family: "Cormorant Garamond", serif;
      font-weight: bold;
      font-size: 1.7rem;
      line-height: 2em;
      animation: heartBeat;
      animation-duration: 3s;
      animation-iteration-count: 10; }
    .Primer__texto--subtitulo {
      margin-top: 1em;
      color: #020f1a;
      font-weight: 600;
      font-family: "IM Fell Double Pica", serif;
      font-size: 1.4rem;
      line-height: 2em; }

hr {
  border: 0;
  height: 1em;
  margin-top: 1em;
  box-shadow: inset 0 1em 1.5em -1.5em black; }

.proximoProducto {
  margin-top: 5em; }
  .proximoProducto .cualEs {
    font-family: "Cinzel Decorative", cursive;
    padding-top: 1em;
    height: 3.5em;
    font-size: 1.4rem;
    background-color: #03121f;
    color: #c8d6ec;
    word-spacing: 0.4em; }

.categoriaProductos {
  background-size: contain;
  color: #020f1a;
  background: radial-gradient(#eef897, #bad8da);
  font-family: "Cinzel Decorative", cursive;
  animation: bounceInLeft;
  animation-duration: 2s;
  animation-iteration-count: 1; }
  .categoriaProductos h1 {
    margin-top: 1.5rem;
    font-size: 1.4rem; }
  .categoriaProductos h2 {
    font-family: "Roboto Slab", serif;
    padding-bottom: 0.5em;
    font-size: 1.2rem; }

.panel-heading {
  padding: 0;
  background-color: chartreuse;
  border-left: 3px solid #5d67f0;
  border-radius: initial;
  border: none;
  color: #fff;
  padding: 0; }
  .panel-heading h4 {
    background-color: #c2e6f1; }

.panel-heading .panel-title a {
  padding: 0.7em;
  color: #020f1a; }

.panel-heading .panel-title .collapsed {
  background: radial-gradient(#eaecd0, #bad8da);
  color: #020f1a; }

.panel-title a {
  text-align: center;
  display: block;
  color: #020f1a;
  position: relative;
  font-size: 1.2rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600; }
  .panel-title a a:hover {
    text-decoration: none; }

.panel-body {
  text-align: justify;
  margin: 0 0.3em; }

.textoDescripcion {
  color: #020f1a; }
  .textoDescripcion h1 {
    font-family: "IM Fell Double Pica", serif; }
  .textoDescripcion p {
    font-family: "Roboto Slab", serif;
    font-size: 0.9rem;
    font-weight: 600; }

.listProduct {
  align-items: center;
  padding: 1em;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600; }
  .listProduct li {
    list-style-image: url(../css/img/stained-glass-window.png);
    color: #020f1a; }

.imagenDescripcion {
  height: 16em;
  max-width: 100%; }

.ListImag {
  margin-top: 6em; }
  .ListImag .imgTamaño {
    width: 15em;
    height: 15em;
    padding: 1em; }

* {
  box-sizing: border-box; }

body {
  background-color: #ffffff; }

.no-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important; }

/* pagina de inicio */
/*CAROUSEL*/
.carousel-item {
  height: 32VH;
  margin-top: 6em; }
  @media (min-width: 600px) {
    .carousel-item {
      height: 40vh;
      margin-top: 6em; } }

/* imagenes del carousel */
.slide1, .slide2, .slide3, .slide4, .slide5 {
  background: url(../css/img/5435089577_08a780296e_k.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat; }

.slide2 {
  background-image: url(../css/img/8161765355_1132304abb_k.jpg); }

.slide3 {
  background-image: url(../css/img/balcony-2731137_1920.jpg); }

.slide4 {
  background-image: url(../css/img/garden-windows-3906221_1920.jpg); }

.slide5 {
  background-image: url(../css/img/shower-438928_1920.jpg); }

.empresa {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 8em 0 1em 2em; }
  .empresa__nuestra {
    width: calc(70% - 1rem); }
    @media (max-width: 800px) {
      .empresa__nuestra {
        width: calc(100% - 1rem); } }
  .empresa__nuestra--titulo {
    font-family: "Cormorant Garamond", serif;
    color: #020f1a;
    text-transform: uppercase;
    text-decoration: underline #50fafa; }
  .empresa__nuestra--texto {
    text-align: justify;
    color: #020f1a;
    line-height: 2em;
    font-family: "IM Fell Double Pica", serif;
    font-weight: 600; }
  .empresa__logo {
    width: calc(30% - 1rem);
    padding: 5em 0 0 3em; }
    @media (max-width: 800px) {
      .empresa__logo {
        width: calc(100% - 1rem);
        padding: 1em; } }

.porque > h2 {
  width: 100%;
  text-align: center;
  padding: 2em 1em;
  color: #020f1a;
  font-size: 23pt;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif; }

.div-imagen {
  display: inline-block;
  position: relative;
  margin: 3em; }

.div-imagen > div {
  position: absolute;
  z-index: -1; }

.desvanecer {
  width: 100%; }

.desvanecer:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms; }

/* Pagina Contacto */
.marginTop {
  padding-top: 6rem;
  margin-left: auto; }

.header {
  color: #020f1a;
  font-size: 1.4rem;
  padding: 10px; }

.colorBoton:hover {
  color: #020202;
  background: turquoise; }

/* COSTADO CON IMAGENES */
.aside {
  margin-top: 7em;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap; }

.aside > p {
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 2px;
  font-style: italic;
  color: #020f1a; }

.aside > img {
  width: 20em; }

.pruebaif {
  background: #d8a972; }
  @media only screen and (max-width: 480px) {
    .pruebaif {
      background: #e7e367; } }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .pruebaif {
      background: #bae6e9; } }
